@import '../../css/variables.css';

.about {
  display: flex;
  flex-wrap: wrap;
  background:var(--secondary);
  
}



.profile {
  font-size: 1rem;
  position: relative;
  
}

.intro {
  width: calc(10 / var(--columnCount) * 100%);
  padding-right: var(--gutter);
  font-size: 1.125rem;
  line-height: 1.7;
  padding-right: calc(1 / var(--columnCount) * 100%);
  padding-bottom: calc(1 / var(--columnCount) * 100%);
}

.profile:before {
  display:flex;
  content: "";
  height: 75%;
  width: 4px;
  left: 0;
  top: 12.5%;
  background: black;
}

.referrals {
  display: flex;
  flex-wrap: wrap;
}

.referral {
  display: flex;
  width: calc(6 / var(--columnCount) * 100%);
  padding-right: var(--gutter);
  align-items: flex-start;
  font-size: 1rem;
  margin-top: 3rem;
}

.referral img {
  margin-right: var(--gutter);
  max-width: 80px;
  border-radius: 1px;
}

@media (--medium) {
  .about {
    margin-bottom: 3rem;
  }

  .intro, .profile {
    width: calc(10 / var(--columnCount) * 100%);
    padding: 0;
  }

  .intro, .referral {
    font-size: 1.1428rem;
  }

  .profile {
    margin-top: 3rem;
  }

  .profile:before {
    display: none;
  }

  .referral {
    margin-top: 2rem;
    width: calc(10 / var(--columnCount) * 100%);
  }
}

@media (--small) {
  .intro, .referral {
    width: calc(12 / var(--columnCount) * 100%);
  }

  .referral img {
    display: none;
  }
}

