@import '../../css/variables.css';

.header {
  background: var(--primary);
  color: var(--lighttxt);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--headerHeight);
  z-index: var(--zIndexHeader);
}

.navbar li{
  margin:10px;
  display:inline;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--headerHeight);
}

.hamburger {
  position: relative;
  z-index: var(--zIndexHamburger);
  display:none;
}

.title {
  font-family: Medium, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

@media (--small) {
  .title {
    font-size: 1.285rem;
  }

  .navbar{
    display:none;
  }

  .hamburger{
    display:inline;
  }

  .github {
    display: none;
  }
}
