:root {
  /* Layout */
  --wrapperWidth: 1200px;
  --headerHeight: 48px;
  --gutter: 20px;
  --columnCount: 12;

  /* Colors */
  --primary:#254E58;
  --secondary:#CAEBF2;
  --tertiary:#A9A9A9;
  --lighttxt:#ffffff;
  --darktxt:#040c0e;

  /* Z Index Scale */
  --zIndexHeader: 2;
  --zIndexMenu: 3;
  --zIndexHamburger: 4;
}

@custom-media --small (max-width: 767px);
@custom-media --medium (max-width: 1023px);
